{
	email you@mydomain.com
}

wake.mydomain.com {
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}
	reverse_proxy localhost:8067
}

pihole.mydomain.com {
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}
	redir / /admin/
	reverse_proxy localhost:8080
}